block variables
	-var post_content= 'post-content'
	-var post_class= post_content + '-' + post_id

section( id=post_id, class=post_content + ' ' + post_class )
	block page_nav

	article(class=post_content + '-wrap ' + post_content + '-wrap-' + post_id )

		h1( class=post_class + '-ttl ttl' )= content.bio.title
		p( class=post_class + '-desc' )
			img( class=post_class + '-img ttl fn', src= content.bio.image )
			!=content.bio.content

	include link_top