block variables
	-var post_content= 'post-content'
	-var post_class= post_content + '-' + post_id

if content.news
	section( id=post_id, class=post_content + ' ' + post_class, ui-view='news' )
		block page_nav

		div.spotify-stuff

		div.post-stuff
			-each post in content.news
				article(class=post_content + '-wrap ' + post_content + '-wrap-' + post_id )
					h1( class=post_class + '-ttl ttl' )= post.title
					img( class=post_class + '-img ttl fn', src= post.image )
					p( class=post_class + '-desc' )
						!=post.content

		div.twitter-stuff

		include link_top
