doctype html
block vars
	- var bodyclass = 'home'

html(lang='en')
	head
		block head
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
			meta(name='viewport', content='width=device-width, initial-scale=1')
			meta(http-equiv='Content-Type', content='text/html; charset=utf-8')

		title
			block title
				= locals.title

		link( rel='alternate', href=locals.url + '/feed.xml', type='application/rss+xml', title=description )
		link( rel='stylesheet', href='https://fonts.googleapis.com/css?family=Oswald:700,300|Unica+One', type='text/css')
		link( rel='stylesheet', href=locals.url + '/css/layout.min.css', type='text/css' )
		link( rel='stylesheet', href=locals.url + '/css/proemland2014.css', type='text/css' )
		//- script( type="text/javascript", src=url + '/js/head.min.js' )
		script.
			//- 	head.js(
			//- 		{ ang: '/js/angular.js' },
			//- 		{ gbl: '/js/prm.js' }
			//- 	);
			prfx = '/js/';

	body(lang='en')
		.page
			header( class='hdr page-hdr ps', role='banner' )
				h1( class='ttl page-ttl', title=locals.title , role='banner' )
					span( class='logo page-ttl-logo' )= locals.description
					a(class="page-ttl-lnk lnk", href=url )= locals.title

				p( class='nfo page-nfo', role='note' )
					span( class='page-nfo-yr nfo' )= new Date().getFullYear()
					span( class='page-nfo-vrsn nfo' )= locals.version

				include nav
				nav( class='nav nav-filter', id='grid-filter', role='navigation' )
					+menuMaker( 'filter', locals.cats )

				nav( class='nav network-nav', role='navigation' )
					+menuMaker('antisocial', network.antisocial )
					+menuMaker('social', network.social )

			main( class='ng-cloak grd page-content ' + bodyclass + '-content' )
				block content
				block static

	script( type="text/javascript", src=locals.url + '/js/angular.js' )
	script( type="text/javascript", src=locals.url + '/js/prm.js' )
