-var post_id= 'news'
-var post_content= 'post-content'
-var post_class= post_content + '-' + post_id

if content.news
	section( id=post_id, class=post_content + ' ' + post_class )
		article(class=post_content + '-wrap ' + post_content + '-wrap-' + post_id )
			h1( class=post_class + '-ttl ttl' )= content.news.title
			img( class=post_class + '-img ttl fn', src= content.news.image )
			p( class=post_class + '-desc' )
				!=content.news.content