-var post_id= 'studio'
-var post_content= 'post-content'
-var post_class= post_content + '-' + post_id

section( id=post_id, class=post_content + ' ' + post_class )
	h1( class=post_class + '-ttl ttl fn' )= content.studio.title
	img( src= content.studio.image )
	article(class=post_class + '-main')
		-each gear, key in content.studio.gear
			dl( class= post_class + '-lst ' + post_class + '-lst-' + key )
				dt(class=post_class + '-lst-ttl ttl') #{key}
				dd(class=post_class + '-lst-itm itm')
					ul.lst
						for item in gear
							li.itm #{item}